EXPO_PUBLIC_MAPPEDIN_API_KEY=your_mappedin_api_key
EXPO_PUBLIC_MAPPEDIN_API_SECRET=your_mappedin_api_secret
EXPO_PUBLIC_MAPPEDIN_MAP_ID=your_mappedin_map_id
EXPO_PUBLIC_INDOORATLAS_API_KEY=your_indooratlas_api_key
