EXPO_PUBLIC_MAPPEDIN_API_KEY=mik_1234567890abcdef1234567890abcdef # your Mappedin API key
EXPO_PUBLIC_MAPPEDIN_API_SECRET=mis_1234567890abcdef1234567890abcdef # your Mappedin API secret
EXPO_PUBLIC_MAPPEDIN_MAP_ID=your_mappedin_map_id # your Mappedin map ID
EXPO_PUBLIC_INDOORATLAS_API_KEY=12345678-1234-1234-1234-1234567890ab # your IndoorAtlas API key
